In [1]:
import pandas as pd

In [4]:
# Lee el archivo dentro indicado por el string dentro de los paréntesis
beers=pd.read_excel("./video3.x_esp.xlsx")

In [8]:
#Muestra n lineas del DataFrame
n=10
beers.head(n)

       Fecha      Hora                Cerveza  Cantidad  ID de Huésped
0 2014-01-01  17:16:48   Schlafly Oktoberfest         4          10021
1 2014-01-01  18:57:36      Grimbergen Blonde         2          10021
2 2014-01-01  19:40:48       La Trappe Dubbel         4          10015
3 2014-01-01  19:40:48  Flying Horse Pale Ale         2          10027
4 2014-01-01  20:09:36   Schlafly Oktoberfest         2          10027
5 2014-01-01  20:24:00        Espresso Porter         1          10045
6 2014-01-01  20:52:48  Flying Horse Pale Ale         1          10005
7 2014-01-01  22:48:00      Grimbergen Blonde         2          10038
8 2014-01-01  23:02:24       La Trappe Dubbel         2          10003
9 2014-01-02  17:02:24   Schlafly Oktoberfest         2          10003

In [40]:
beers[["Cerveza"]]

                   Cerveza
0     Schlafly Oktoberfest
1        Grimbergen Blonde
2         La Trappe Dubbel
3    Flying Horse Pale Ale
4     Schlafly Oktoberfest
..                     ...
492      Grimbergen Blonde
493                Lucifer
494              Framboise
495             Winter Ale
496              Budweiser

[497 rows x 1 columns]

In [14]:
beers.to_csv("./Cervezas.csv")

In [16]:
beer2= pd.read_csv("./Cervezas.csv")

In [25]:
tempranera=min(beers["Hora"])
laCaminera=max(beers["Hora"])
beers["Hora"].sort_values()

366    17:02:24
158    17:02:24
425    17:02:24
441    17:02:24
446    17:02:24
         ...
22     23:45:36
467    23:45:36
424    23:45:36
328    23:45:36
496    23:45:36
Name: Hora, Length: 497, dtype: object

In [26]:
tempranera

datetime.time(17, 2, 24)

In [27]:
laCaminera

datetime.time(23, 45, 36)

In [38]:
_=beers.groupby(["Cerveza"]).
_

                          Fecha  Hora  Cantidad  ID de Huésped
Cerveza
Blue Moon Belgian White      43    43        43             43
Bud Light                     6     6         6              6
Budweiser                    27    27        27             27
Canaster Winter Scotch        8     8         8              8
Chocolate Stout              10    10        10             10
Cocoa Porter                 13    13        13             13
Corona Extra                 21    21        21             21
Espresso Porter              12    12        12             12
Flying Horse Pale Ale        27    27        27             27
Framboise                     9     9         9              9
Full Moon Winter Ale         13    13        13             13
Grimbergen Blonde            15    15        15             15
Hocus Pocus                   1     1         1              1
Jack's Pumpkin Spice Ale     26    26        26             26
La Trappe Dubbel             46    46        46             46
Lucifer                       9     9         9              9
Oatmeal Stout                11    11        11             11
Odell IPA                    21    21        21             21
Ornery Amber Lager           14    14        14             14
Schlafly Oktoberfest         73    73        73             73
Tsingtao                     11    11        11             11
Ultrablonde                  14    14        14             14
Wasatch Polygamy Porter      36    36        36             36
Wiesen Edel Weisse           14    14        14             14
Winter Ale                   17    17        17             17

In [50]:
beers["Hora"][0].hour

17

In [51]:
bloqueHora=[]
for hora in beers["Hora"]:
    bloqueHora.append(hora.hour)
bloqueHora

[17,
 18,
 19,
 19,
 20,
 20,
 20,
 22,
 23,
 17,
 17,
 18,
 19,
 19,
 22,
 17,
 17,
 18,
 18,
 20,
 21,
 23,
 23,
 18,
 22,
 23,
 18,
 18,
 22,
 23,
 17,
 18,
 18,
 20,
 20,
 21,
 23,
 17,
 23,
 23,
 17,
 18,
 19,
 17,
 17,
 18,
 18,
 19,
 19,
 22,
 18,
 19,
 19,
 19,
 22,
 17,
 18,
 21,
 22,
 23,
 17,
 18,
 19,
 21,
 21,
 23,
 19,
 23,
 18,
 18,
 23,
 23,
 18,
 18,
 20,
 17,
 18,
 18,
 18,
 19,
 20,
 22,
 19,
 20,
 21,
 21,
 22,
 23,
 23,
 23,
 17,
 17,
 18,
 18,
 21,
 22,
 22,
 17,
 18,
 18,
 18,
 18,
 19,
 19,
 19,
 21,
 18,
 18,
 18,
 18,
 19,
 20,
 22,
 21,
 21,
 21,
 23,
 17,
 21,
 21,
 22,
 23,
 17,
 18,
 20,
 23,
 23,
 17,
 18,
 18,
 19,
 22,
 23,
 17,
 18,
 18,
 18,
 19,
 19,
 23,
 17,
 18,
 18,
 18,
 22,
 23,
 18,
 19,
 20,
 21,
 21,
 23,
 23,
 17,
 18,
 19,
 21,
 21,
 17,
 21,
 21,
 22,
 23,
 18,
 22,
 23,
 23,
 18,
 18,
 21,
 21,
 22,
 17,
 17,
 18,
 22,
 23,
 19,
 22,
 22,
 19,
 19,
 20,
 20,
 20,
 17,
 17,
 17,
 18,
 19,
 21,
 18,
 19,
 19,
 19,
 20,
 20,
 22,
 17,
 17,
 20,
 20,
 21,
 23,
 19,
 22,
 22,
 23,
 18,
 18,
 23,
 23,
 17,
 20,
 21,
 18,
 18,
 19,
 19,
 20,
 21,
 22,
 23,
 17,
 18,
 19,
 20,
 20,
 20,
 21,
 22,
 23,
 17,
 18,
 20,
 20,
 20,
 21,
 21,
 23,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 17,
 18,
 18,
 20,
 20,
 22,
 23,
 18,
 21,
 21,
 21,
 23,
 23,
 17,
 19,
 19,
 20,
 20,
 20,
 21,
 17,
 18,
 18,
 20,
 20,
 21,
 21,
 22,
 17,
 17,
 19,
 22,
 22,
 23,
 23,
 23,
 17,
 18,
 18,
 19,
 21,
 18,
 19,
 20,
 20,
 23,
 23,
 17,
 19,
 21,
 22,
 22,
 23,
 23,
 19,
 23,
 23,
 17,
 18,
 18,
 18,
 19,
 20,
 22,
 23,
 20,
 21,
 22,
 19,
 19,
 20,
 21,
 21,
 21,
 23,
 23,
 18,
 18,
 20,
 20,
 22,
 23,
 17,
 19,
 20,
 23,
 17,
 18,
 19,
 20,
 20,
 23,
 23,
 18,
 18,
 18,
 21,
 22,
 17,
 17,
 18,
 18,
 22,
 23,
 17,
 18,
 21,
 22,
 22,
 22,
 23,
 17,
 18,
 18,
 20,
 20,
 22,
 22,
 22,
 17,
 18,
 18,
 18,
 19,
 21,
 17,
 17,
 18,
 19,
 20,
 20,
 23,
 23,
 18,
 18,
 19,
 19,
 23,
 23,
 17,
 18,
 19,
 19,
 20,
 20,
 21,
 21,
 21,
 22,
 22,
 23,
 23,
 23,
 17,
 17,
 18,
 20,
 21,
 22,
 22,
 23,
 19,
 17,
 18,
 19,
 19,
 20,
 20,
 20,
 22,
 23,
 17,
 18,
 20,
 21,
 18,
 20,
 23,
 17,
 19,
 20,
 22,
 23,
 18,
 18,
 22,
 21,
 18,
 18,
 21,
 23,
 18,
 21,
 22,
 17,
 19,
 20,
 21,
 22,
 17,
 18,
 18,
 18,
 18,
 18,
 22,
 23,
 17,
 18,
 18,
 18,
 20,
 18,
 20,
 22,
 23,
 18,
 20,
 21,
 22,
 23,
 20,
 21,
 21,
 23,
 17,
 17,
 17,
 17,
 20,
 21,
 21,
 22,
 23,
 18,
 20,
 22,
 17,
 18,
 18,
 21,
 22,
 22,
 22,
 20,
 18,
 20,
 21,
 23,
 23]

In [52]:
beers["Bloque Hora"] = bloqueHora
beers

,Fecha,Hora,Cerveza,Cantidad,ID de Huésped,Bloque Hora
0,2014-01-01,17:16:48,Schlafly Oktoberfest,4,10021,17
1,2014-01-01,18:57:36,Grimbergen Blonde,2,10021,18
2,2014-01-01,19:40:48,La Trappe Dubbel,4,10015,19
3,2014-01-01,19:40:48,Flying Horse Pale Ale,2,10027,19
4,2014-01-01,20:09:36,Schlafly Oktoberfest,2,10027,20
...,...,...,...,...,...,...
492,2014-04-01,18:43:12,Grimbergen Blonde,2,10042,18
493,2014-04-01,20:38:24,Lucifer,2,10049,20
494,2014-04-01,21:07:12,Framboise,2,10008,21
495,2014-04-01,23:31:12,Winter Ale,4,10030,23
496,2014-04-01,23:45:36,Budweiser,2,10043,23